.box {
    height: 100px;
    background-color: #2abbb9;
    border: 2px solid white;
}

.box.open {
    background-color: #ffb429;
}

.box.matched {
    background-color: #5eff29;
}

.box-row {
    width: 600px;
}