.background {
    background-color: #d1d1d1;
}

.profile{
    border-radius: 50%;
    height: 480px;
    width: 480px;
}

.hello{
    font-size: 180px;
    letter-spacing: -0.02em;
}

.dv1{
    display: inline-block;
}

.div2{
    /* margin-left: 465px; */
}

.circle.first {
    background-color: #EEA302;
}

.circle.second {
    background-color: #FF3B25;
}

.circle.third {
    background-color: #80D8DA;
}

.circle{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 1px solid whitesmoke;
    transition: all 0.4s linear;
}

.circle span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.circle:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.project {
    width: 491px;
    height: 331px;
}

ul.list-style-none {
    list-style: none;
    padding: 0;
}

span {
    color: black;
}
.marginTop {
    margin-top: 110px;
}

.navbar {
    list-style: none;
}

.link {
    color: black;
}

.navbar a:not(:last-child) {
    border-right: #212529 solid 1px;
}

.navbar a {
    color: #212529;
}

.App {
    background-color: #eeeeee;
    min-height: 100vh;
}

.hover:hover {
    box-shadow: 1px 1px 2px 1px #d1d1d1;
    transform: translateX(20px);
}