.profile{
    border-radius: 50%;
    height: 480px;
    width: 480px;
}

.hello{
    font-size: 180px;
    letter-spacing: -0.02em;
}

.dv1{
    display: inline-block;
}

.div2{
    /* margin-left: 465px; */
}

.circle.first {
    background-color: #EEA302;
}

.circle.second {
    background-color: #FF3B25;
}

.circle.third {
    background-color: #80D8DA;
}

.circle{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 1px solid whitesmoke;
    transition: all 0.4s linear;
}

.circle span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.circle:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.project {
    width: 491px;
    height: 331px;
}